
{% load static %} {% load staticfiles %}
<div>
    <div class="col m8 offset-m2">
        <br>
        <h5>Comentarios</h5>

        {% for comment in comments %}
        <ul class="collection">
            <li class="collection-item avatar">
                {% for u in users %}
                {% if u.username == comment.author %}
                <a><img class="circle" src="{{u.perfil.avatar}}"></a>
                {% endif %}
                {% endfor %}
                <span class="title">{{comment.author}}</span>
                <div>{{comment.body}}<a class="secondary-content"><i class="material-icons">reply</i></a></div>
                
            </li>
        </ul>
        {% if comment.respuesta %}

        <div class="respuesta-mensaje"></div><div class="respuesta-mensaje2"></div>
        <ul class="collection" style="width:88%; margin-left:12%;">
            <li class="collection-item avatar" i>
                <i class="material-icons circle grey">store</i>
                <span class="title">Da inmobiliti</span>
                <p class="seisuno"> {{comment.respuesta.body}}
            </li>
        </ul> 
        {% endif %}
        {% endfor %}

        <!-- Respuesta -->

    </div>


    <form action="{% url 'index:comment' casa.id %}" method="POST">
        {% csrf_token %}
        {% if not user.is_anonymous %}
        <div class="col m8 offset-m2">
            <ul class="collection">
                <div class="row">

                    <div class="row">
                        <div class="input-field col s12">
                            <div class="input-field col s6">
                                <input name="coment" style=" width: 600px;" id="last_name" type="text" class="validate">
                                <label for="last_name" style="margin-left:1%">Coment</label>
                            </div>
                        </div>
                    </div>

                </div>

                <button style="margin-left:75%;margin-bottom:2%;margin-top:-6%" class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>  
            </ul>
        </div>
    </form>
</div>
{% endif %}
