<!DOCTYPE html>
{% load static %} {% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans+Condensed:700,300,300italic|Open+Sans:400,300italic,400italic,600,600italic,700,700italic,800,800italic|PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
        <script type="text/javascript" src="{% static 'js/infobubble.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <title>Mapa</title>
        <style>
            
            
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map {
                margin: 0;
                padding: 0;
                height: 800px;
                max-width: none;
            }
            #map img {
                max-width: none !important;
            }

            .phoneytext {
                text-shadow: 0 -1px 0 #000;
                color: #fff;
                font-family: Helvetica Neue, Helvetica, arial;
                font-size: 16px;
                line-height: 25px;
                padding: 4px 45px 4px 15px;
                font-weight: bold;
                background: url(../images/arrow.png) 95% 50% no-repeat;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script>

            var locations = [];
            var marker;
            var i;
            var infoBubble;

           
            
                
            function initialize() {
                var mapOptions = {
                    center: {lat: -31.4 , lng: -64.1833},
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                window.map1 = new google.maps.Map(document.getElementById("map"),mapOptions);
                var geocoder = new google.maps.Geocoder();


                function putMarker(){
                     {% for casa in casas %}             
                        geocoder.geocode({ 'address': '{{casa.address}}'}, function(results, status) {
                            if (status == 'OK') {
                                //locations.push(results[0].geometry.location);
                                //var image = '/static/marker.png';
                                var markerOptions = { position: results[0].geometry.location}
                                                    //icon: image
                                marker = new google.maps.Marker(markerOptions);
                                marker.setMap(map1);

                                infoBubble = new InfoBubble({
                                    content: '<a href="#"><img src="/static/1.png" style="margin-top: 15px; margin-left: 5px;"></a> <a style="margin-top:   5px; margin-right: 5px;" href="{% url "index:favorite" casa.id %}" class="secondary-content"><i class="material-icons">grade</i></a> <p style="margin-top: -60px; margin-left: 90px;">{{casa}}</p>  <p style="margin-left: 90px;">price: {{casa.price}}</p> <a href="{% url "index:casa" casa.id %}" style="margin-left: 290px;">Show more</a>',
                                    position: new google.maps.LatLng(-35, 151),
                                    shadowStyle: 1,
                                    padding: 0,
                                    backgroundColor: 'rgb(211, 211, 211)',
                                    borderRadius: 4,
                                    arrowSize: 10,
                                    border: null,
                                    disableAutoPan: true,
                                    hideCloseButton: true,
                                    arrowPosition: 30,
                                    backgroundClassName: 'phoney',
                                    arrowStyle: 2,
                                    maxHeight: 100
                                });
                                addListenerToMarker(marker, infoBubble);
                                function addListenerToMarker(marker, infoBubble){
                                    google.maps.event.addListener(marker, 'click', function() {
                                        google.maps.event.addListenerOnce(infoBubble, 'domready', function(){ 
                                        });
                                        infoBubble.open(map1, marker); 
                                    });
                                    google.maps.event.addListener(map1, 'click', function() {
                                        google.maps.event.addListenerOnce(infoBubble, 'domready', function(){ 
                                        });
                                        infoBubble.close(); 
                                    });

                                }


                            } else {
                                alert("Geocoding no tuvo éxito debido a: " + status);
                            }
                        });
                    
                    {% endfor %}
                    }
                
                putMarker();
            }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhscF4njb8HM2faI3NN95lKwqVYhyiANo&callback=initialize">
        </script>

    </body>
</html>

